.d-flex.justify-content-between.px-2
  %span.profile-username= @profile.name
  = render partial: 'partials/user_profile/user_profile_action_buttons'
.d-flex.justify-content-between.profile-user-info-label-medium.px-2
  %span= "#{@profile.posts.count} posts"
  %span= "#{Friendship.where("owner_id = #{@profile.id}").count} followers"
  %span= "#{Friendship.where("follower_id = #{@profile.id}").count} following"