.container.blank_space
  - @posts.each do |post|
    .row.mt-4
      .col-lg-2
      .col-lg-8
        .row
          .col-lg-12.content_block
            .row.pt-2
              .col-lg-1
                = button_to profile_path(post.user_profile), method: :get, class: 'button_avatar_link_to_profile' do
                  - if post.user_profile.avatar.attached?
                    = image_tag post.user_profile.avatar, class: 'avatar_link_to_profile'
                  - else
                    = image_tag 'user_avatar_placeholder.png', class: 'avatar_link_to_profile'
              .col-lg-11.text-left
                - if post.user_profile.name.present?
                  = link_to "#{post.user_profile.name}", profile_path(post.user_profile), class: 'link_to_profile'
                - else
                  = link_to "#{current_user.nickname}", profile_path(post.user_profile), class: 'link_to_profile'
            .row.pt-2.text-center
              .col-lg-12
                = image_tag post.photo, class: 'post_photo'
            .row.pt-2
              .col-lg-12
                %p= post.description
      .col-lg-2