.container.blank_space
  - @posts.each do |post|
    .row.mt-4
      .col-lg-2
      .col-lg-8
        .row
          .col-lg-12.content_block

            -# User profile links (avatar and name)
            .row.pt-2
              .col-lg-1
                = button_to profile_path(post.user_profile), method: :get, class: 'button_avatar_link_to_profile' do
                  - if post.user_profile.avatar.attached?
                    = image_tag post.user_profile.avatar, class: 'avatar_link_to_profile'
                  - else
                    = image_tag 'user_avatar_placeholder.png', class: 'avatar_link_to_profile'
              .col-lg-11.text-left
                - if post.user_profile.name.present?
                  = link_to "#{post.user_profile.name}", profile_path(post.user_profile), class: 'link_to_profile'
                - else
                  = link_to "#{current_user.nickname}", profile_path(post.user_profile), class: 'link_to_profile'

            -# Post photo
            .row.pt-2.text-center
              .col-lg-12
                = image_tag post.photo, class: 'post_photo'

            -# Add Like
            .row.pt-2
              .col-lg-12.text-left
                = link_to '#', class: "like-link", post_id: post.id do
                  %i.fa.fa-heart
                  %label{:id => "likes-count-label-#{post.id}"}= post.likes.count

            -# Description of the post
            .row.pt-2
              .col-lg-12
                %p= post.description

            -# Add comment
            .row.pt-1
              .col-lg-12
                .input-group
                  = text_area_tag :comment_text, nil, class: 'form-control', id: "comment-text-area-#{post.id}"
                  = link_to '#', class: "add-comment-link", post_id: post.id do
                    %button{:class => 'btn btn-secondary'}= 'Add'

            -# List of all comments
            .row.pt-2.mb-3
              .col-lg-12{:id => "comments-to-post-#{post.id}"}
                - post.comments.each do |comment|
                  .row.comment-row
                    .col-lg-12
                      - if post.user_profile.name.present?
                        = link_to "#{post.user_profile.name}", profile_path(post.user_profile)
                      %br
                      %label= comment.text
      .col-lg-2