.container
  .row
    .col-lg-2
    .col-lg-7.pt-2.pb-4.conversations-list-column
      - @conversations.each do |conv|
        - chat_companion = conv.author == current_user.profile ? conv.receiver : conv.author
        = link_to conversation_path(conv.id), class: 'conversation-preview-link' do
          .d-flex.mb-3
            .col-lg-1.text-right.conversation-chat-companion-avatar-section
              = image_tag chat_companion.avatar.attached? ? chat_companion.avatar : 'user_avatar_placeholder.png', class: 'avatar_link_to_profile'
            .col-lg-11.text-left
              -# Chat companion name
              .row
                %span{class: "conversation-companion-name"}= chat_companion.name
              -# The latest message
              .row.conversation-latest-message-row.my-0.py-0
                - if conv.messages.last.present?
                  %span{class: "conversation-last-message"}= conv.messages.last.body
                - else
                  %span= "No messages with this user"
    .col-lg-3