%h1= 'Conversation'
.container
  .row
    .col-lg-12#messages{:data-conversation-id => "#{@conversation.id}"}
      - @conversation.messages.each do |message|
        = render partial: 'message/message', locals: { message: message }
  -# Send new message
  .row
    .col-lg-2
    .col-lg-8
      = text_area_tag :body, nil, class: 'form-input', id: 'new-message-text-area'
      = link_to '#', id: 'send-message', conversation_id: @conversation.id do
        %button{:class => 'btn btn-secondary'}= 'Send'
    .col-lg-2