-# - @posts.each do |post|
.row.mt-4
  .col-lg-2
  .col-lg-8
    .row
      .col-lg-12.content_block
        -# Post header
        = render partial: 'posts/header', locals: { post: post }

        -# Post photo
        .row.pt-2.text-center
          .col-lg-12
            = image_tag post.photo, class: 'post_photo'

            -# Add Like
        .row.pt-2
          .col-lg-12.text-left
            = link_to '#', class: "like-link", post_id: post.id do
              %i.fa.fa-heart
              %label{:id => "likes-count-label-#{post.id}"}= post.likes.count

            -# Description of the post
        .row.pt-2
          .col-lg-12
            %p= post.description

            -# Add comment
        .row.pt-1
          .col-lg-12
            .input-group
              = text_area_tag :comment_text, nil, class: 'form-control custom-control', id: "comment-text-area-#{post.id}"
              %button.input-group-addon.btn.btn-primary#add-comment-button{:data => {:post_id => "#{post.id}"} }= "Add"

            -# List of all comments
        .row.pt-2.mb-3
          .col-lg-12{:id => "comments-to-post-#{post.id}"}
            - post.comments.each do |comment|
              .row.comment-row
                .col-lg-12
                  - commentator_name = comment.user_profile.name.present? ? comment.user_profile.name : comment.user_profile.user.nickname
                  = link_to "#{commentator_name}", profile_path(post.user_profile)
                  %br
                  %label= comment.text
  .col-lg-2