.row.mt-4
  .col-lg-2
  .col-lg-8
    .row
      .col-lg-12.content_block
        -# User profile links (avatar and name)
        = render partial: 'posts/header', locals: { post: post }

        -# Post photo
        .row
          .col-lg-12.px-0
            = image_tag post.photo, class: 'post_photo'

        -# Add Like
        .row
          = render partial: 'likes/like', locals: { post: post }

        .row
          .light-gray-horizontal-separator

        -# Post description
        .row
          .col-lg-12
            %span.post-description= post.description

        .row
          .light-gray-horizontal-separator

        -# Add comment
        .row.my-0
          .col-lg-12.px-0
            .input-group
              = text_area_tag :comment_text, nil, class: 'form-control custom-control', id: "comment-text-area-#{post.id}"
              %button.input-group-addon.btn.btn-primary#add-comment-button{:data => {:post_id => "#{post.id}"} }= "Add"

        -# List of comments to the post
        - if post.comments.present?
          .row.pt-2.mb-3
            .col-lg-12{:id => "comments-to-post-#{post.id}"}
              - post.comments.each do |comment|
                = render partial: 'partials/comments/comment', locals: { comment: comment }
  .col-lg-2