- post_number = 0
- @posts.each do |post|
  :javascript
    if ("#{post_number}" % 3 === 0) {
      $('.user-posts-grid-column').append(`
        <div class="row mt-2" id="post-photo-row-#{post_number / 3}"> </div>
      `);
    }
    $("#post-photo-row-#{post_number / 3}").append(`
      <div class="col-lg-4">
        <img src="#{url_for(post.photo)}" class="user-profile-post-image">
      </div>
    `);
    "#{post_number += 1}"
