= form_for @profile, url: profile_path do |f|
  .container.text-center.mt-5
    %h2.pt-5 Edit your profile
    .row
      .col-lg-4
      .col-lg-4
        .row.pt-2
          .col-lg-12
            = f.text_field :name, placeholder: 'Your name', class: 'form-control'
        .row.pt-2
          .col-lg-12
            = f.text_field :age, placeholder: 'Your age', class: 'form-control'
        .row.pt-2
          .col-lg-12
            = f.label :avatar, 'Upload your profile pic'
            = f.file_field :avatar, id: :profile_avatar, class: 'custom-file-input', placeholder: 'Choose file', onchange: 'show_profile_avatar_preview(this);'
            = f.label 'Choose file', id: 'profile_avatar_label', class: "custom-file-label", for: :profile_avatar
    .row.pt-3
      .col-lg-4
      .col-lg-4
        %img{:id => 'image_preview', :src => ""}
      .col-lg-4
    .row.pt-5
      .col-lg-12
        = f.submit 'Update', class: 'btn btn-outline-secondary'