-#.container
-#  .row.text-center
-#    .col-lg-4
-#      %h1 some text
-#    .col-lg-8
-#      %h3 Some text x2
%main
  .container.mt-5
    .row
      .col-lg-3
        - if @profile.avatar.attached?
          = image_tag @profile.avatar, class: 'avatar_photo'
      .col-lg-3.align-self-center
        .row
          .col-lg-10.text-left
            %label{:class => 'username_label'}= @profile.name
          .col-lg-2
            = button_to edit_profile_path(@profile), method: :get, class: 'btn btn-primary' do
              %i.fa.fa-edit
        .row
          .col-lg-12.text-left
            %label= @profile.age
    .row.mt-5.text-left
      .col-lg-12
        = button_to new_profile_post_path(@profile), method: :get, class: 'btn btn-primary' do
          %span Create new post
          %i.fa.fa-plus
    .row.posts_row.mt-5.pt-5
      .col-lg-12
        - @posts.each do |post|
          .row
            .col-lg-4
              - if post.photo.attached?
                = image_tag post.photo, class: 'post_photo'