.container
  .row
    .col-lg-3
    -# Profile Info section
    .col-lg-6
      .row.px-0-0.py-0-0.mx-0-0.my-0-0
        -# Profile Avatar
        .col-lg-5.text-left
          - if @profile.avatar.attached?
            = image_tag @profile.avatar, class: 'avatar_photo'
          - else
            = image_tag 'user_avatar_placeholder.png', class: 'avatar_photo'
        -# Profile username
        .col-lg-5.text-left
          %label{:class => 'username_label'}= @profile.name.blank? ? current_user.nickname : @profile.name
          .row
            -# Profile age
            .col-lg-12.text-left
              %label= @profile.age
        -# Edit profile button OR follow/unfollow button
        .col-lg-2
          - if current_user.user_profile.id == params[:id].to_i
            = button_to edit_profile_path(@profile), method: :get, class: 'btn btn-primary' do
              %i.fa.fa-edit
          - else
            - if Friendship.where('owner_id = ? AND follower_id = ?', @profile.id, current_user.user_profile.id).first.blank?
              = button_to profile_follow_path(@profile), method: :post, class: 'btn btn-primary' do
                %i.fa.fa-user-plus
            - else
              = button_to profile_unfollow_path(@profile), method: :post, class: 'btn btn-primary' do
                %i.fa.fa-user-minus

    .col-lg-3
  .row.mt-5.text-left
    .col-lg-3
    .col-lg-6.text-center
      - if current_user.user_profile.id == params[:id].to_i
        = button_to new_post_path(@profile), method: :get, class: 'btn btn-primary' do
          %span Create new post
          %i.fa.fa-plus
    .col-lg-6
  .row.posts_row.text-center.mt-5.pt-5
    .col-lg-12
      - @posts.each do |post|
        .row
          .col-lg-12.mt-2
            - if post.photo.attached?
              = image_tag post.photo, class: 'profile_post_photo'